*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
font-family: 'Lato', sans-serif;
}
.row{

  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.contenitore{
  border: 1px solid grey;
  background-color: lightgrey;
  width:1000px;
  height:650px;
  position:relative;
  overflow:hidden;
}
/* .red{
  background: linear-gradient(to top, #dbdbd2 75%, #009688 74%);
}
.blue{
  background: linear-gradient(to top, #009688  75%,#dbdbd2 74%);
} */
/* aside */
.side-laterale{
  width:360px;
  height:100%;
   overflow-y: scroll;
  background-color: #fff;

}
.row-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color:#EDEDED; */
}
.img-profilo img{
  width:40px;
  border-radius: 50%;
  margin: 10px 15px;

}
.icone-1 {
  display: flex;
  margin-right: 7px;
}
.icone-1 i{
padding:0px 10px;
color:#CAC5C5;
}
.row-2{
  display: flex;

  align-items: center;
  height:90px;
  background-color:#9FDCF8;
}
.icona-2 i{
  margin:0 15px;
  padding: 12px 10px;
  background-color: #fff;
  color:#9FDCF8;
  border-radius: 50%;
}
.scritte-2{
  font-size: 15px;
}
.cerca input{
  width:330px;
  height:35px;
  padding:10px ;
  border-radius: 20px;
  border: none;
  outline: none;
}
.cerca-3{
  display: flex;
  justify-content: center;
  align-items: center;
  height:60px;
  /* background-color: #EDEDED; */
}
.img-logo img{
  width:40px;
  border-radius: 50%;
  margin: 10px 15px;
}
.demo-chat{
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  width:96%;
  margin:auto;
  border-color: lightgrey;
}
.demo-text p:first-child{
  font-weight: bold;
    font-size: 17px;
    padding-bottom: 4px;
}
.demo-text p:last-child{
  font-size: 14px;
}
.demo-chats{
  display: flex;
  align-items: center;
}
.demo-chat:hover{
background-color: #F5F2F2;
width:100%;
}
.nav-bar nav{
  top:0;
  right:0;
  left:360px;
  width:640px;
  /* background-color:#EDEDED; */
  height:64px;
  position:absolute;
  border-left: 1px solid lightgrey;
}
.fics{
  position: fixed;
  width:360px;
}
nav{
  display: flex;
  align-items:center;
}
nav img{
  width:40px;
  border-radius: 50%;
  margin: 10px 15px;
}
.section{
  bottom:0;
  right:0;
  left:360px;
  width:640px;
  /* background-color:#EDEDED; */
  height:64px;
  position:absolute;
  display: flex;
  align-items: center;

  border-left: 1px solid lightgrey;
}
.scroll-chat{
  margin-top:214px;
  /* overflow: scroll;
  overflow-y: scroll; */
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: grey;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: lightgrey;
} */
/* sfondochat */
.sfondo-chat{
  position: absolute;
  top:64px;
  right:0px;
  left:360px;
  bottom:64px;

}

.chat-mess-v{
  width:600px;
  height:100%;
  overflow: scroll;
  margin: auto;
  z-index: 3;
  position: relative;
}
.verde{
  background-color: #DDF2C2;
  border-radius: 10px;
  padding:7px;
  margin:7px 0px;
  min-width: 20%;

  max-width: 49%;
  left:50%;
  position: relative;
}
.verde1{
  background-color:#FFFFFF;
    border-radius: 10px;
      padding:7px;
        margin:7px 14px;
        min-width: 20%;
        max-width: 49%;
}
.section i{
  font-size: 25px;
  color:grey;
  padding:14px;
}
.section input{
  width:80%;
  height: 65%;
  border-radius: 20px;
  border: none;
  outline: none;
  padding:10px 12px ;
}
.bottone{
  border: none;
    outline: none;
}
.red1{
  background-image: url(../img/mine.jpg);
}
.blue1{
  background-image: url(../img/sf.jfif);
}
.red{
  background: linear-gradient(to top, #dbdbd2 75%, #009688 74%);
}
.blue{
  background: linear-gradient(to top, #009688  75%,#dbdbd2 74%);
}
.color-grey{
  background-color: #EDEDED;
}
.color-black{
  background-color: #2B2F32;
}
.c-grey{
  color:#2B2F32;
}
.c-black{
  color:#EDEDED ;
}
.demo :hover{
  color:#2B2F32;
}
.smileContenitore{
  height:190px;
  width:640px;
  background-color:#EDEDED;
  position:absolute;
  z-index: 33;
bottom:0;

}

.niente{
  display:none;
}
.emoji-icons ul li{
list-style: none;
display: inline-block;
  padding: 5px;
}
/* .smile-contenitore ul li{
display: inline-block;
list-style: none;
padding:10px;
font-size: 25px;
color:#A0874B;
} */
